@model asistenteventas.Models.Client;

<div class="div1">
<p>
    <a class="btn btn-outline-primary" asp-action="CreateCliente">NuevoCliente</a>
</p>

    <div>
        <form asp-action="Index">
            <div>
                <label for="txtbuscar">cedula : </label>
                <input required type="text" name="txtbuscar" value="" />
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
            <div>
                <p>@ViewBag.mje</p>
            </div>

        </form>
    </div>

    @if (Model != null)
    {
    
    <table class="table" >
    <thead>
        <tr>
            <th>
                        @Model.PriNomCli
            </th>
            <th>
                        @Model.PriApeCli
            </th>
            <th>
                        @Model.TelCli
            </th>
            <th>
                        @Model.MailCli
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                        @Model.PriNomCli
            </td>
            <td>
                        @Model.PriApeCli
            </td>
            <td>
                        @Model.TelCli
            </td>
            <td>
                        @Model.MailCli
            </td>
            
            <td>
                        <a asp-action="Details" asp-route-id="@Model.CodCli">Details</a>
            </td>
        </tr>

    </tbody>
</table>
   
} </div>