@model IEnumerable<asistenteventas.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<div class="div1">
<p>
    <a class="btn btn-outline-primary" asp-action="CreateCliente">NuevoCliente</a>
</p>

<h3 class="">
    Lista Clientes
</h3>

@if(Model!= null){
    
    <table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriNomCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriApeCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailCli)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriNomCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriApeCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailCli)
            </td>
            
            <td>
                <a asp-action="Details" asp-route-id="@item.CodCli">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
   
} </div>